[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==44.0.2"
Flask = "==3.1.0"
marshmallow = "==3.25.1"
requests = "==2.32.3"
PyJWT = "==2.6.0"
meraki-sdk = "==1.5.0"
meraki = "==1.32.1"

[dev-packages]
black = "==25.1.0"
coverage = "==7.6.12"
flake8 = "==7.1.2"
pip-audit = "==2.8.0"
pytest = "==8.3.5"

[requires]
